

<!--banner start-->


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item " *ngFor="let item of bannerResult;let i=index " [ngClass]="{active:i===0}">
      <img class="d-block w-100" src ="https:/image.tmdb.org/t/p/original/{{item.backdrop_path}}" >

      <div class="carousel-caption d-none d-md-block">
      <h2>{{item.original_title}}</h2>
      <p>{{item.overview}}</p>
    </div>
  </div>



  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>






<!--  -->


<!--banner start-->




<div class="contain mt-3 p-4">
  <div class="row">
    <h5 class="text-white">Trending Movies</h5>


    <div class="rowposter mt-3 p-2" >

    <ng-container *ngFor="let item of trendingMovieResult" >
      <img class="rowimg largeposter" [routerLink]="['movie',item.id]" src ="https:/image.tmdb.org/t/p/original/{{item.poster_path}}" >

    </ng-container>


    </div>
  </div>



  <div class="row">
    <h5 class="text-white">banner Movies</h5>


    <div class="rowposter mt-3 p-2" >

    <ng-container *ngFor="let item of bannerResult" >
      <img class="rowimg largeposter" [routerLink]="['movie',item.id]" src ="https:/image.tmdb.org/t/p/original/{{item.poster_path}}" >

    </ng-container>


    </div>
  </div>


<!--Action-->


  <div class="row mt-4">
    <h5 class="text-white">Action Movies</h5>


    <div class="rowposter mt-3 p-2" >

    <ng-container *ngFor="let item of actionMovieRs" >
      <img class="rowimg largeposter" [routerLink]="['movie',item.id]" src ="https:/image.tmdb.org/t/p/original/{{item.poster_path}}" >

    </ng-container>


    </div>
  </div>

<!--Adventure-->

  <div class="row mt-4">
    <h5 class="text-white">Adventure Movies</h5>


    <div class="rowposter mt-3 p-2" >

    <ng-container *ngFor="let item of adventureMovieRs" >
      <img class="rowimg largeposter" [routerLink]="['movie',item.id]" src ="https:/image.tmdb.org/t/p/original/{{item.poster_path}}" >

    </ng-container>


    </div>
  </div>


<!--Animation-->


  <div class="row mt-4">
    <h5 class="text-white">Animation Movies</h5>


    <div class="rowposter mt-3 p-2" >

    <ng-container *ngFor="let item of animationMovieRs" >
      <img class="rowimg largeposter" [routerLink]="['movie',item.id]" src ="https:/image.tmdb.org/t/p/original/{{item.poster_path}}" >

    </ng-container>


    </div>
  </div>



  <!--Comedy-->


  <div class="row mt-4">
    <h5 class="text-white">Comdedy Movies</h5>


    <div class="rowposter mt-3 p-2" >

    <ng-container *ngFor="let item of comdedyMovieRs" >
      <img class="rowimg largeposter" [routerLink]="['movie',item.id]" src ="https:/image.tmdb.org/t/p/original/{{item.poster_path}}" >

    </ng-container>


    </div>
  </div>



    <!--Documentary-->

    <div class="row mt-4">
      <h5 class="text-white">Documentary Movies</h5>


      <div class="rowposter mt-3 p-2" >

      <ng-container *ngFor="let item of documentaryMovieRs" >
        <img class="rowimg largeposter" [routerLink]="['movie',item.id]" src ="https:/image.tmdb.org/t/p/original/{{item.poster_path}}" >

      </ng-container>


      </div>
    </div>




      <!--Science Fiction-->

      <div class="row mt-4">
        <h5 class="text-white">Science Fiction Movies</h5>


        <div class="rowposter mt-3 p-2" >

        <ng-container *ngFor="let item of sciencefictionMovieRs" >
          <img class="rowimg largeposter" [routerLink]="['movie',item.id]" src ="https:/image.tmdb.org/t/p/original/{{item.poster_path}}" >

        </ng-container>


        </div>
      </div>



        <!--Thriller Fiction-->

        <div class="row mt-4">
          <h5 class="text-white">Thriller Movies</h5>


          <div class="rowposter mt-3 p-2" >

          <ng-container *ngFor="let item of thrillerMovieRs" >
            <img class="rowimg largeposter" [routerLink]="['movie',item.id]" src ="https:/image.tmdb.org/t/p/original/{{item.poster_path}}" >

          </ng-container>


          </div>
        </div>


</div>
